*{
    padding: 0;
    margin: 0;
}

.viñeta{
    display: flex;
    justify-content: center;
}

.fondo{
    width: 80%;
    height: 93%;
    position: relative;
}

.livingroom{
    width: 100%;
}

.fondo2{
    width: 80%;
    height: 93%;
    position: absolute;
}

.opendoor{
    width: 100%;
}

.Pj1{
width: 6.5%;
position: absolute;
top: 37%;
left: 29%;
}

.Hiro{
    width: 100%;
}

.circulo{
    position: absolute;
    left: 28%;
    top: 45%;
    width: 9%;
}
.interaccion{
    width: 100%;
    cursor: pointer;
}

.titilar{
    animation: titilando 1s forwards infinite;
}


@keyframes titilando{
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 30%;
    }
    
    100%{
        opacity: 100%;
    }
    
    }

.oculto{
    display: none;
}

.botonera{
    width: 100%;
    display: flex;
    align-items: center;
}
.controladores{
    margin-bottom: 3%;
}

.cajasB{
    display: flex;
justify-content: center;
}