*{
    padding: 0;
    margin: 0;
}

.viñeta{
    display: flex;
    justify-content: center;
}

.fondo{
    width: 80%;
    height: 93%;
    position: relative;
}

.habitacion{
    width: 100%;
}

.Hiro{
    position: absolute;
    width: 5.1%;
    top: 40%;
    right: 40%;
}

.pj1{
    width: 100%;
}

.Hirowalk{
    background: url(./media/stepshiro.png);
    position: absolute;
    width: 285px;
    height: 388px;
    background-position: 0px;
    top: 40%;
    right: 40%;
}

.Caminado{
    animation: movimiento 1s steps(6) forwards;
}

@keyframes movimiento{

    0%{
        background-position: 0px;
        right: 40%;
    }

    99%{
        background-position: 1709px;
        right: 70%;
        opacity: 100;
    }
    100%{
        opacity: 0;
    }

}


.circulo{
    position: absolute;
    right: 39.5%;
    top: 52%;
    width: 6%;
}
.interaccion{
    width: 100%;
    cursor: pointer;
}

.titilar{
    animation: titilando 1s forwards infinite;
}


@keyframes titilando{
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 30%;
    }
    
    100%{
        opacity: 100%;
    }
    
    }
    
    
    .oculto{
       opacity: 0;
    }

    .Botonera{
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 1%;
    }
    .controladores{
        margin-bottom: 3%;
    }
    
    .cajasB{
        display: flex;
    justify-content: center;
    }