*{
    padding: 0;
    margin: 0;
}

.viñeta{
    display: flex;
    justify-content: center;
}

.fondo{
    width: 80%;
    height: 93%;
    position: relative;
}

.rio{
    width: 100%;
}

.Hiro{
    position: absolute;
    width: 9.5%;
    top: 33%;
    left: 15%;
}

.pj1{
    width: 100%;
}


.Hirowalk{
    background: url(./media/hiro2.png);
    position: absolute;
    left: 10%;
    top: 35%;
    width: 120px;
    height: 200px;
    margin: 0 auto; 
       

        
}

.Hirocaminado{
    animation: walk 1s steps(4) forwards;
}

@keyframes walk {
    0%{
        left: 10%;
        background-position: 0px;
    }
    100%{
        left: 30%;
        background-position: -516px;
        opacity: 1000;   
    }
  }


.circulo{
    position: absolute;
    left: 10%;
    top: 40%;
    width: 7%;
}
.interaccion{
    width: 100%;
    cursor: pointer;
}

.titilar{
    animation: titilando 1s forwards infinite;
}


@keyframes titilando{
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 30%;
    }
    
    100%{
        opacity: 100%;
    }
    
    }
    
    
    .oculto{
       opacity: 0;
    }

    .Botonera{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .controladores{
        margin-bottom: 3%;
    }
    
    .cajasB{
        display: flex;
    justify-content: center;
    }