*{
    padding: 0;
    margin: 0;
}

.viñeta{
    display: flex;
    justify-content: center;
}

.fondo{
    width: 80%;
    height: 93%;
    position: relative;
}

.kitchen{
    width: 100%;
}

.Pj1{
    position: absolute;
    top: 25%;
    left: 30%;
    width: 8.1%;
}

.Hiro{
    width: 100%;
}

.humo{
    position: absolute;
    top: 35%;
    left: 20%;
    animation: hervir 3s infinite ease-in-out;
}

@keyframes hervir{

    0%{
        top: 35%;
    }

    50%{
        top: 33%;
    }

    100%{
        top: 35%;
    }
}


.circulo{
    position: absolute;
    left: 18.5%;
    top: 45%;
    width: 7%;
}
.interaccion{
    width: 100%;
    cursor: pointer;
}

.titilar{
    animation: titilando 1s forwards infinite;
}


@keyframes titilando{
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 30%;
    }
    
    100%{
        opacity: 100%;
    }
    
    }
    
    .onomatopeya{
        position: absolute;
        right: 12%;
        top: 20%;
        width: 15%;
    }
    
    .onomatopeya img{
        width: 100%;
    }

.oculto{
    display: none;
}

.botonera{
    width: 100%;
    display: flex;
    align-items: center;
}
.controladores{
    margin-bottom: 3%;
}

.cajasB{
    display: flex;
justify-content: center;
}