*{
    padding: 0;
    margin: 0;
}

.viñeta{
    display: flex;
    justify-content: center;

}

.fondo{
    width: 80%;
    height: 93%;
    position: relative;
}

.cocina{
    width: 100%;
}

.manoA{
    position: absolute;
    width: 60%;
    top: 21%;
}

.cuchillo1{
    width: 100%;
}

.animacion{
 animation: agarrar 0.3s forwards;
}

@keyframes agarrar {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

.manoB{
    position: absolute;
    width: 60%;
    top: 39.5%;
}

.cuchillo2{
    width: 100%;
}

.circulo{
    position: absolute;
    right: 30%;
    top: 48%;
    width: 10%;
}
.interaccion{
    width: 100%;
    cursor: pointer;
}

.titilar{
    animation: titilando 1s forwards infinite;
}


@keyframes titilando{
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 30%;
    }
    
    100%{
        opacity: 100%;
    }
    
    }
    
    
    .oculto{
       opacity: 0;
    }

    .Botonera{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .controladores{
        margin-bottom: 3%;
    }
    
    .cajasB{
        display: flex;
    justify-content: center;
    }