*{
    padding: 0;
    margin: 0;
}

.viñeta{
    display: flex;
    justify-content: center;
}

.fondo{
    width: 80%;
    height: 93%;
    position: relative;
}

.kitchen{
    width: 100%;
}

.Pj1{
    position: absolute;
    top: 85px;
    left: 30%;
}

.Pj2{
    position: absolute;
    top: 85px;
    left: 30%;
}

.circulo{
    position: absolute;
    left: 29.5%;
    top: 38%;
    width: 9%;
}
.interaccion{
    width: 100%;
    cursor: pointer;
}

.titilar{
    animation: titilando 1s forwards infinite;
}


@keyframes titilando{
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 30%;
    }
    
    100%{
        opacity: 100%;
    }
    
    }
    
    .onomatopeya{
        position: absolute;
        right: 12%;
        top: 20%;
        width: 15%;
    }
    
    .onomatopeya img{
        width: 100%;
    }

.oculto{
    display: none;
}

.botonera{
    width: 100%;
    display: flex;
    align-items: center;
}
.controladores{
    margin-bottom: 3%;
}

.cajasB{
    display: flex;
justify-content: center;
}