*{
    padding: 0;
    margin: 0;
}
.viñeta{
    display: flex;
    justify-content: center;
}

.fondo{
    width: 80%;
    height: 93%;
    position: relative;
}

.sala{
    width: 100%;
}

.pomo{
    background-image: url(./media/PomoSteps.png);
    position: absolute;
    width: 388px;
    height: 192px;
    top: 30%;
    left: 30%;
}

.puerta{
    animation: abrir 3s steps(6) forwards;
}

@keyframes abrir{

    0%{
        top: 30%;
        background-position: 0px;
    }

    100%{
        top: 30%;
        background-position: 2362px;
    }

}

.circulo{
    position: absolute;
    width: 10%;
    top: 30%;
    right: 50%;
}
.interaccion{
    width: 100%;
    cursor: pointer;
}
.titilar{
 animation: titilar 1s forwards infinite;
}

@keyframes titilar {
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 0%;
    }
    
    100%{
        opacity: 100%;
    }
}

.oculto{
    display: none;
}

.botonera{
    width: 100%;
    display: flex;
    align-items: center;
}
.controladores{
    margin-bottom: 3%;
}

.cajasB{
    display: flex;
justify-content: center;
}