@font-face{
    font-family: Chapaza;
    src: url(../Typos/Chapaza.ttf);
  }
  
    .barra{
      background: url(./Arriba.jpg);
      height: 120px;
      display: flex;
  
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 100;
  }
  
  .logo{
    height: 150px;
    width: 20%;
    margin-top: 0.4%;
  }
  .versi{
    height: 110px;
    cursor: pointer;
    padding-left: 30%
  }
  body {
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
      background-size: 100% 110%;
  }
  
  
  .color{
    color: #872E2E;
  }
  .img{ 
    
    position: absolute;
    margin: 5rem 31rem;
  }
  nav{
    padding-left: 270px;
    padding-top: 35px;
  
  }
  
  .menunav{
    font-family: Chapaza;
    font-size: 28px;
    display: grid;
    grid-template-columns: .4fr .5fr 1fr 1fr;
    gap: 60px;
    
  
  
  }
  
  .menunav a{
  color: white !important;
  text-align: center;
  text-decoration: none !important;
  
  }
  
  .menunav a:hover{
  opacity: 0.7;
  }
  
  .cards{
    font-family: Chapaza;
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center
  }
  

  