*{
    padding: 0;
    margin: 0;
}
.viñeta{
    display: flex;
    justify-content: center;
}

.fondo{
    width: 80%;
    height: 93%;
    position: relative;
}

.negro{
    width: 100%;
}

.fondo2{
    width: 80%;
    height: 93%;
    position: absolute;
    opacity: 0%;
}

.rojo{
    width: 100%;
}

.desaparicion{
    animation: demencia 2s forwards;
}

@keyframes demencia {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

.circulo-caja{
    position: absolute;
    width: 10%;
    top: 20%;
}
.circulo{
    width: 100%;
    cursor: pointer;
}
.circulo-anim{
 animation: titilar 1s forwards infinite;
}

@keyframes titilar {
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 0%;
    }
    
    100%{
        opacity: 100%;
    }
}

.oculto{
    display: none;
}

.botonera{
    width: 100%;
    display: flex;
    align-items: center;
}
.controladores{
    margin-bottom: 3%;
}

.cajasB{
    display: flex;
justify-content: center;
}